<section id="home" class="video-hero bg-main-1" style="height: 500px;background-size: cover;background-position: center center;background-attachment: fixed;"
    data-section="home">
	<div class="overlay"></div>
	<div class="display-t display-t2 text-center">
		<div class="display-tc display-tc2">
			<div class="container">
				<div class="col-md-12 col-md-offset-0">
					<div class="animate-box">
						<h2>Board</h2>
						<p class="breadcrumbs">
							<span>
								<a href="index.html">Home</a>
							</span>
							<span>Create content</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div id="colorlib-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-push-3 animate-box">
				<h2>Get In Touch</h2>
				<%= form_for @post do |f| %>
					<div class="field">
            <%= f.label :title %><br />
            <%= f.text_field :title %>
          </div>
          <div class="field">
            <%= f.label :text %><br />
            <%= f.text_area :body %>
          </div>
          <div class="action">
            <%= f.submit %>
          </div>
          <p>
            <%= f.hidden_field :user_id, class: "form-control", value: current_user.id %><br><br>
          </p>
        <% end %>
			</div>
		</div>
	</div>
</div>
